@media (max-width: 768px) {
  .menu {
    top: 100%;
    left: 0;
    transform: none;
    flex-direction: column;
    width: 220px;
  }

  .overlay {
    padding: 25px 35px;
  }

  .carousel img {
    height: 240px;
  }
}

@media (max-width: 480px) {
  .logo {
    height: 45px;
  }

  .overlay h1 {
    font-size: 2.2rem;
  }

  .overlay p {
    font-size: 1.2rem;
  }

  .carousel img {
    height: 200px;
  }
}
