/* =========================
   TABLET
========================= */
@media (max-width: 768px) {
  .hero-overlay {
    padding: 25px 30px;
  }
  .inicio {
    padding: 60px 6%;
  }
  .carrusel-track img {
    height: 300px; /* más compacto en tablet */
  }
}

/* =========================
   MÓVIL
========================= */
@media (max-width: 480px) {
  header {
    padding: 10px 15px;
  }
  .logo {
    height: 45px;
  }
  .hero-overlay {
    padding: 15px 20px;
  }
  .inicio {
    padding: 40px 5%;
  }
  .carrusel-track img {
    height: 200px; /* compacto en móvil */
  }
  footer {
    padding: 15px;
  }
}
