/* TABLET */
@media (max-width: 768px) {

  .menu {
    top: 100%;
    left: 0;
    transform: none;
    flex-direction: column;
    width: 220px;
  }

  .bienvenida {
    height: 70vh;
  }

  .inicio {
    padding: 50px 30px;
  }

  .carousel {
    height: 260px;
  }
}

/* MÓVIL */
@media (max-width: 480px) {

  header {
    padding: 10px 15px;
  }

  .logo {
    height: 45px;
  }

  .overlay {
    padding: 25px 30px;
  }

  .overlay h1 {
    font-size: 2.4rem;
  }

  .overlay p {
    font-size: 1.2rem;
  }

  .carousel {
    height: 200px;
  }
}
