/* TABLET */

@media(max-width:768px){

section{
  padding:60px 6%;
}

.hero-overlay{
  padding:25px 30px;
}

.carrusel img{
  height:280px;
}

.form-container{
  width:90%;
}

}

/* MÓVIL */

@media(max-width:480px){

.menu{
  flex-direction:column;
}

.hero-overlay{
  padding:20px;
}

.carrusel img{
  height:220px;
}

}
