*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Montserrat;
}

body{
  background:#004D98;
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.form-container{
  background:white;
  padding:40px;
  border-radius:12px;
  width:400px;
}

h1{
  text-align:center;
  margin-bottom:25px;
}

form{
  display:flex;
  flex-direction:column;
}

label{
  margin:10px 0 5px;
}

input,select,textarea{
  padding:8px;
  border-radius:6px;
  border:1px solid #ccc;
}

textarea{
  height:100px;
}

button{
  margin-top:20px;
  padding:10px;
  background:#A50044;
  color:white;
  border:none;
  border-radius:6px;
  cursor:pointer;
}

button:hover{
  background:#004D98;
}
